#top-parent{
    margin-top: 200px;
    width: 100%;
}
#people{
    margin-left: 70px;


}
#people > h4{
    color: blue;
}
#cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
#card1{
    border: 1px solid blue;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
}
#Clarie{
    display: flex;
    gap: 10px;
}
#Clarie >img{
    border-radius: 50px;
}
#P-Div{
    width: 100%;
}
